.DivContainer {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
}

.Card {
    background: rgba(255, 255, 255, 0.2);
    border-radius: 0 0 10px 10px;
    border-right: 2px solid rgba(255, 255, 255, 0.5);
    border-left: 2px solid rgba(255, 255, 255, 0.5);
    border-bottom: 2px solid rgba(255, 255, 255, 0.5);
    border-top: none; 
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    width: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logo {
    height: 40px;
    margin-bottom: 1rem;
    text-align: center;
}

.formContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.buttonPrimary {
    width: 100%;
    background-color: #f5793b;
    border: 1px solid #f5793b;
}

.buttonPrimary:hover {
    background-color: #ff9254;
    border: 1px solid #f5793b;
}

.buttonPrimary:active,
.buttonPrimary:focus,
.buttonPrimary:focus-visible  {
    background-color: #ff9254;
    border: 1px solid #f5793b;
    box-shadow: inset 0 3px 5px #ff9254;
}

.buttonPrimary:not(:disabled):not(.disabled):active,
.buttonPrimary:not(:disabled):not(.disabled).active,
.show > .buttonPrimary.dropdown-toggle {
    background-color: #ff9254;
    border: 1px solid #f5793b;
    border-color: #f5793b;
    box-shadow: inset 0 3px 5px rgba(255, 146, 84, 0.5);
    box-shadow: inset 0 3px 5px #ff9254;
}


.tabsHeader {
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    display: flex;
    flex-direction: column;
}

.tabs {
    background: rgba(255, 255, 255, 0.2);
    border-right: 2px solid rgba(255, 255, 255, 0.5);
    border-left: 2px solid rgba(255, 255, 255, 0.5);
    border-top: 2px solid rgba(255, 255, 255, 0.5);
    border-bottom: none;
    margin-bottom: 0;
    padding: 0;
    width: 250px;
    box-sizing: border-box;
    border-radius: 10px 10px 0 0;
}

.tabs a {
    border: 1px solid transparent;
    border-radius: 10px;
}

.tabs a:link,
.tabs a:visited {
    color: grey;
}

.tabs a::after,
.tabs a::before,
.tabs a:focus {
    color: #fff;
    border-radius: 0;
    box-shadow: none;
    border: none;
}

.tabs a:hover {
    color: #fff;
    border-radius: 0 0 0 0;
    box-shadow: none;
    border: none;
    background-color: rgba(255, 255, 255, 0.3);
}


.successAlert {
    width: 90%;
    margin-top: 1rem;
}

.linkDiv {
    background: rgba(0, 0, 0, 0.3); 
}

.linkDiv:hover {
    border-radius: 0;
    border: none;
}

.signUp {
    border-radius: 10px 0 0 0 ;
}

.signIn {
    border-radius: 0 10px 0 0 ;
}

.activeLink {
    background-color: transparent;
}


.activeLink a:link,
.activeLink a:visited {
    color: white;
}

