.DivContainer {
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.Card {
    background: rgba(255, 255, 255, 0.2); /* White background with 20% opacity */
    border-radius: 10px; /* Rounded corners */
    border: 2px solid rgba(255, 255, 255, 0.5); /* Optional: Light white border for better definition */
    backdrop-filter: blur(10px); /* Blur the background */
    -webkit-backdrop-filter: blur(10px); /* For Safari */
    width: 0rem;
    min-width: 250px;
}