.courseActionsContainer {
    justify-content: center;
    align-items: center;
    margin: 0;
}

.Card {
    background: rgba(255, 255, 255, 0.2);
    border-radius: 10px;
    border: 2px solid rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 300px;
    min-width: 250px;
    color: white;
    text-align: center;
}

.buttonPrimary {
    width: 100%;
    background-color: #f5793b;
    border: 1px solid #f5793b;
}

.buttonPrimary:hover {
    background-color: #ff9254;
    border: 1px solid #f5793b;
}

.buttonPrimary:active,
.buttonPrimary:focus,
.buttonPrimary:focus-visible  {
    background-color: #ff9254;
    border: 1px solid #f5793b;
    box-shadow: inset 0 3px 5px #ff9254;
}

.buttonPrimary:not(:disabled):not(.disabled):active,
.buttonPrimary:not(:disabled):not(.disabled).active,
.show > .buttonPrimary.dropdown-toggle {
    background-color: #ff9254;
    border: 1px solid #f5793b;
    border-color: #f5793b;
    box-shadow: inset 0 3px 5px rgba(255, 146, 84, 0.5);
    box-shadow: inset 0 3px 5px #ff9254;
}

.buttonSecondary {
    width: 100%;
    background-color: #00BCD4;
    border: 1px solid #00BCD4;
}

.buttonSecondary:hover {
    background-color: #0097A7;
    border: 1px solid #00BCD4;
}

.buttonSecondary:active,
.buttonSecondary:focus,
.buttonSecondary:focus-visible  {
    background-color: #0097A7;
    border: 1px solid #00BCD4;
    box-shadow: inset 0 3px 5px #0097A7;
}

.buttonSecondary:not(:disabled):not(.disabled):active,
.buttonSecondary:not(:disabled):not(.disabled).active,
.show > .buttonSecondary.dropdown-toggle {
    background-color: #0097A7;
    border: 1px solid #00BCD4;
    border-color: #00BCD4;
    box-shadow: inset 0 3px 5px #0097A7;
}

.link {
    text-decoration: none;
    color: #fff;
    transition: all .3s ease;
}

.link:hover {
    text-decoration: none;
    color: #f5793b;
}