.mainContainer {
    min-height: 100vh;
    margin-top: 7rem;
}

.courseInfoContainer {
    text-align: center;
    width: 100%;
    color: white;
}

.courseInfoContainer h3 {
    font-size: 24px;
}

.courseInfoContainer h5 {
    font-size: 16px;
}

.loaderContainer {
    height: 100vh;
}

.imageWrapper {
    width: 200px;
    height: 300px;
    overflow: hidden;
}

.imageWrapper img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.courseDataIcon {
    font-size: 2rem;
}

.courseDataItem {
    text-align: left;
}


.courseDataItem * {
    margin: 0;
}

.courseOwner {
    font-size: 1.3rem;
}

.alertBtn {
    text-decoration: underline;
}

.Card {
    background: rgba(255, 255, 255, 0.2);
    border-radius: 10px;
    border: 2px solid rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 300px;
    min-width: 250px;
    color: white;
    text-align: center;
}

.image {
    max-height: 50vh;
    max-width: 100%;
    object-fit: contain;
}

.noReviewsDiv {
    text-align: center;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    padding: 2rem 0;
}

.editCourseDropdown {
    margin-bottom: 75px;
}

.ownerLink {
    text-decoration: none;
    transition: all .3s ease;
    color: #fff;
}

.ownerLink:hover {
    text-decoration: none;
    color: #f5793b;
}

.buttonPrimary {
    width: 50%;
    background-color: #f5793b;
    border: 1px solid #f5793b;
}

.buttonPrimary:hover {
    background-color: #ff9254;
    border: 1px solid #f5793b;
}

.buttonPrimary:active,
.buttonPrimary:focus,
.buttonPrimary:focus-visible  {
    background-color: #ff9254;
    border: 1px solid #f5793b;
    box-shadow: inset 0 3px 5px #ff9254;
}

.buttonPrimary:not(:disabled):not(.disabled):active,
.buttonPrimary:not(:disabled):not(.disabled).active,
.show > .buttonPrimary.dropdown-toggle {
    background-color: #ff9254;
    border: 1px solid #f5793b;
    border-color: #f5793b;
    box-shadow: inset 0 3px 5px rgba(255, 146, 84, 0.5);
    box-shadow: inset 0 3px 5px #ff9254;
}