.tabContainer {
    background: rgba(255, 255, 255, 0.2);
    border: 2px solid rgba(255, 255, 255, 0.5);
    box-sizing: border-box;
    border-radius: 10px;
}

.disabledTab {
    color: #f5793b;
    font-weight: 700;
}

.tabContainer a,
.sheetContainer a {
    color: #fff;
    border: 1px solid transparent;
    border-radius: 10px;
    transition: border-color 0.3s ease;
}

.tabContainer a:link,
.tabContainer a:visited
.sheetContainer a:link,
.sheetContainer a:visited {
    color: #fff;
}

.tabContainer a:hover,
.tabContainer a::after,
.tabContainer a::before,
.tabContainer a:focus 
.sheetContainer a:hover,
.sheetContainer a::after,
.sheetContainer a::before,
.sheetContainer a:focus {
    color: #fff;
    border-radius: 10px;
}

.activeLink {
    background-color: rgba(169, 169, 169, 0.5);
    border-radius: 10px;
    border: 1px solid white;
}

.inactiveLink {
    background-color: transparent;
}

.sheetContainer {
    background-color: #082641;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 10000;
}

.sheetTitle {
    color: white;
    font-size: 30px;
}

.sheetForm {
    width: 95%;
}

.editCourseSheetContainer {
    width: 100%;
    max-width: none;
    padding-top: 5rem;
}
