.pageContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
}

.pageTitle {
    font-size: 3rem;
    text-align: center;
    margin-top: 7rem;
    margin-bottom: 5rem;
}

@media (max-width: 576px) {
    .pageTitle {
        font-size: 2rem;
    }
}