.mainContainer {
    min-height: 100vh;
    margin-top: 7rem;
}

.courseInfoContainer {
    text-align: center;
    width: 100%;
    color: white;
}

.courseInfoContainer h3 {
    font-size: 24px;
}

.courseInfoContainer h5 {
    font-size: 16px;
}

.loaderContainer {
    height: 100vh;
}

.imageWrapper {
    width: 200px;
    height: 300px;
    overflow: hidden;
}

.imageWrapper img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.courseDataIcon {
    font-size: 2rem;
}

.courseDataItem {
    text-align: left;
}


.courseDataItem * {
    margin: 0;
}

.courseOwner {
    font-size: 1.3rem;
}

.alertBtn {
    text-decoration: underline;
}

.Card {
    background: rgba(255, 255, 255, 0.2);
    border-radius: 10px;
    border: 2px solid rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 300px;
    min-width: 250px;
    color: white;
    text-align: center;
}
