.pageContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
}

.contentContainer {
    width: 90vw;
}

.pageTitle {
    font-size: 3rem;
    text-align: center;
    margin-top: 7rem;
    margin-bottom: 5rem;
}

@media (max-width: 576px) {
    .pageTitle {
        font-size: 2rem;
    }
}

.tabContainer {
    background: rgba(255, 255, 255, 0.2);
    width: 80vw;
    border: 2px solid rgba(255, 255, 255, 0.5);
    box-sizing: border-box;
    border-radius: 10px;
    justify-content: space-between;
}

.actionDiv {
    padding: 10px;
    color: #f5793b;
    font-weight: 700;
}

.sheetContainer {
    max-height: 100vh;
    background-color: #082641;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 10000;
    overflow-y: auto;
    padding-top: 10rem;
}
