@media (min-width: 768px) and (max-width: 992px) {
    .thirdHomeCourse:nth-child(3) {
        margin-top: 20px;
        margin-right: auto;
        margin-left: auto;
    }
}

.coursesRow {
    display: flex;
    justify-content: start;
    flex-wrap: wrap;
}

.placeholderCard {
    max-width: 300px;
    width: 100%;
    min-width: 250px; 
}