.hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 100vh;
}

.heroTitle {
    font-size: 5em;
    text-align: center;
}

.heroSlogan {
    text-align: center;
}

@media (max-width: 992px) { /* Adjustments for medium screens, tablets */
    .heroTitle {
        font-size: 4em;
    }
}
@media (max-width: 768px) { /* Adjustments for medium screens, tablets */
    .heroTitle {
        font-size: 3em;
    }
}
@media (max-width: 576px) { /* Adjustments for medium screens, tablets */
    .heroTitle {
        font-size: 2em;
    }
}


.buttonPrimary {
    background-color: #f5793b;
    border: 1px solid #f5793b;
}

.buttonPrimary:hover {
    background-color: #ff9254;
    border: 1px solid #f5793b;
}

.buttonPrimary:active,
.buttonPrimary:focus,
.buttonPrimary:focus-visible  {
    background-color: #ff9254;
    border: 1px solid #f5793b;
    box-shadow: inset 0 3px 5px #ff9254;
}

.buttonPrimary:not(:disabled):not(.disabled):active,
.buttonPrimary:not(:disabled):not(.disabled).active,
.show > .buttonPrimary.dropdown-toggle {
    background-color: #ff9254;
    border: 1px solid #f5793b;
    border-color: #f5793b;
    box-shadow: inset 0 3px 5px #ff9254;
}

.buttonSecondary {
    background-color: #00BCD4;
    border: 1px solid #00BCD4;
}

.buttonSecondary:hover {
    background-color: #0097A7;
    border: 1px solid #00BCD4;
}

.buttonSecondary:active,
.buttonSecondary:focus,
.buttonSecondary:focus-visible  {
    background-color: #0097A7;
    border: 1px solid #00BCD4;
    box-shadow: inset 0 3px 5px #0097A7;
}

.buttonSecondary:not(:disabled):not(.disabled):active,
.buttonSecondary:not(:disabled):not(.disabled).active,
.show > .buttonSecondary.dropdown-toggle {
    background-color: #0097A7;
    border: 1px solid #00BCD4;
    border-color: #00BCD4;
    box-shadow: inset 0 3px 5px #0097A7;
}

.links {
    color: #ffffff;
    text-align: left;
}

.links:hover {
    text-decoration: none;
    color: white;
}

.FAQ {
    font-size: 20px;
}

.FAQ:hover {
    text-decoration: none;
}
