.Navbar {
    background-color: #1e2022;
    font-family: 'Raleway', sans-serif;
    border-bottom: 1px solid #e6e6e6;
}

.Navlink {
    color: #ffffff;
    text-align: left;
    text-decoration: none;
    padding: 5px 10px;
    transition: all .3s ease;
}

.Navlink:hover,
.Active {
    color: #f5793b;
}