.Navbar {
    font-family: 'Raleway', sans-serif;
    background-color: rgba(8, 38, 65, 0.8);
}

.Navlink {
    color: #ffffff;
    text-align: left;
    padding: 5px 10px;
    transition: all .3s ease;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Navlink:hover,
.Active {
    color: #f5793b;
    text-decoration: none;
}