.mainContainer {
    min-height: 100vh;
    margin-top: 7rem;
    margin-bottom: 3rem;
}

.tabContainer {
    background: rgba(255, 255, 255, 0.2);
    border: 2px solid rgba(255, 255, 255, 0.5);
    box-sizing: border-box;
    border-radius: 10px;
}

.tabContainer a {
    color: #fff;
    border: 1px solid transparent;
    border-radius: 10px;
    transition: border-color 0.3s ease;
}

.tabContainer a:link,
.tabContainer a:visited {
    color: #fff;
}

.tabContainer a:hover,
.tabContainer a::after,
.tabContainer a::before,
.tabContainer a:focus {
    color: #fff;
    border-radius: 10px;
}

.activeLink {
    background-color: rgba(169, 169, 169, 0.5);
    border-radius: 10px;
    border: 1px solid white;
}

.inactiveLink {
    background-color: transparent;
}

.buttonPrimary {
    width: 50%;
    background-color: #f5793b;
    border: 1px solid #f5793b;
}

.buttonPrimary:hover {
    background-color: #ff9254;
    border: 1px solid #f5793b;
}

.buttonPrimary:active,
.buttonPrimary:focus,
.buttonPrimary:focus-visible  {
    background-color: #ff9254;
    border: 1px solid #f5793b;
    box-shadow: inset 0 3px 5px #ff9254;
}

.buttonPrimary:not(:disabled):not(.disabled):active,
.buttonPrimary:not(:disabled):not(.disabled).active,
.show > .buttonPrimary.dropdown-toggle {
    background-color: #ff9254;
    border: 1px solid #f5793b;
    border-color: #f5793b;
    box-shadow: inset 0 3px 5px rgba(255, 146, 84, 0.5);
    box-shadow: inset 0 3px 5px #ff9254;
}
