.sheetContainer {
    background-color: #082641;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 10000;
}

.editCourseSheetContainer {
    width: 100%;
    max-width: none;
    padding-top: 32rem;
    overflow-y: auto;
}


.sheetTitle {
    color: white;
    font-size: 30px;
}

.sheetForm {
    width: 95%;
}

.sheetEditCourseForm {
    width: 90%;
    padding-bottom: 5rem;
}

@media (min-width: 768px) {
    .editCourseSheetContainer {
        padding-top: 15rem;
    }
}

@media (min-width: 992px) {
    .editCourseSheetContainer {
        padding-top: 40rem;
    }

    .sheetEditCourseForm {
        padding-bottom: 8rem;
    }
}
