.Main {
    padding-top: 65px;
    font-family: 'Roboto', sans-serif;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.background {
    background: radial-gradient(circle, #1e2022 30%, #082641 100%);
    color: white;
}

